<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/error.txt">
  
  <targets>
    <!-- 文件日志 -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <!-- 文件日志，设置原文件输出为日期.log，若文件大小大于archiveAboveSize，则生成日期+编号的多个文件 -->
     <target xsi:type="File" name="allfile"
           fileName="logs/${level}/${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
  </targets>


	<rules>
		<!--所有日志包括系统信息-->
		<logger name="*" minlevel="Error" writeTo="allfile" />
		<logger name="ProtoHub.Api.*" minlevel="Error" writeTo="allfile" />
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="ProtoHub.Api.*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>